
.nav-color{
background-color: #F2545B;
}
.maincolor{
    background-color: #F1E9DA;
}
.secondcolor{
    background-color: #541388;
}

.messageCard {
    background-color: #541388;
    border-radius: 25px;
}